
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Emiliya Aghayeva I am 35 years old. Now I am 3rd course student studying CPP program in Seneca college. </p>
          <p>This is my second education. I have studied economics. It was spontaneous decision when I was young and now this profession doesn't attract me at all. </p>
          <p>It was very hard decision to start everythig form the beggining as I have a family, an amazing son whom I dedicated the whole my free time.</p>
          <p>Despite my age, I came to the point to start over and pursue my dream to become full stack developer. My main goal is to rock JavaScript. </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Stay tuned for future updates..</p>
        </aside>
      </div>
    